@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.polka {
  background-color: #ffffff;
  background-image: radial-gradient(#651fff 1.5px, transparent 1.5px);
  radial-gradient: (#651fff 1.5px, #ffffff 1.5px);
  background-size: 46px 46px;
  background-position: 0 0, 23px 23px;
}

.particles-js {
  height: 384px;
  margin-bottom: -384px;
}
