@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat"), url(../fonts/Montserrat-Bold.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat"),
    url(../fonts/Montserrat-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat"), url(../fonts/Montserrat-Medium.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url(../fonts/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: local("Quicksand"), url(../fonts/Quicksand-Bold.woff) format("woff");
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

/* Seperators */
.container {
  position: relative;
  background: #d24d57;
  height: 4vh;
}

.wave {
  position: absolute;
  height: 40px;
  width: 100%;
  background: #d24d57;
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fafafa;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #d24d57;
  left: -1.5%;
  top: 40%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
